.titre1{
    color: red;
}
.titre2{
    color: blue;
}

.titre3{
    color : yellow;
}
.titre4{
    color: beige;
}
.titre5{
    font-size: 20px;
}
.titre6{
    font-size: 2rem;
}
.paragraphe1{
    font-weight: bold;
}
.paragraphe2{
    font-weight: 100;
}
.span1{
    font-family: X;
}
.span2{
    font-family: Y;
}
.button1{
    border-radius: 10px;

}
.button2{
    border-radius: 10%;
}
.input{
    border: 2px solid #ffffff;
    background-color: #407596;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.input::placeholder{
    font-family: 'Arial';
    color: rgb(255, 255, 255);
}

.input[type="submit"]{
    color: rgb(255, 255, 255);
}
.input[type="file"]{
    color: rgb(255, 255, 255);
}
.input[type="reset"]{
    color: rgb(255, 255, 255);
}
.input[type="button"]{
    color: rgb(255, 255, 255);
}
.maindivgap{
    display: flex;
    gap: 20px;
}
.maindiv1{
    display: flex;
    justify-content: space-between;
}
.maindiv2{
    display: flex;
    justify-content: space-evenly;
}
.maindiv3{
    display: flex;
    justify-content: center;
}
.maindiv4{
    display: flex;
    justify-content: space-around;
}

.div1{
    background-color: red;
    width: 200px;
    height: 200px;
}
.div2{
    background-color: blue;
    width: 200px;
    height: 200px;
}
.div3{
    background-color: yellow;
    width: 200px;
    height: 200px;
}
.div4{
    background-color: beige;
    width: 200px;
    height: 200px;
}